:root {
  --wrap-bg-color: #fff;
  --nav-bg-color: #f3e5e5;
  --main-bg-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
}

#wrapper{
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--wrap-bg-color);
}

.header-container {
  width: 100%;
}

.container img{
  width: 50px;
  height: 50px;
  margin: 10px;
}

.header-content {
  height: 70px;
  margin: 10px;
}

.top-navigation {
  width: 100%;
  margin: 0;
  padding: 0;
} 
.top-navigation .container {
  display: flex;
  flex-flow: row wrap;
  background-color:transparent;
  width: 100%;
  justify-content:left;
  margin: 0;
} 
#small-menu {
  position: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: lighter;
}

#menubar {
  position: absolute;
  right: 20px;
  background-color: transparent;
  border: 0;
  padding: 5px 0;
  margin: 0;
  z-index: 9999;
}
#menu-list {
  display: none;
  background-color: var(--nav-bg-color);
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1000;
}
#menu-list.open {
  display: block;
  margin: 0;
}
#menu-list.open li{
  display: block;
  padding: 3px;
  text-align: center;
  margin-right: 0;
  letter-spacing: 0.1em;
  border-bottom: none;
  padding: 0;
  font-size: 18px;
}

#menu-list a {
  color: #0c0c0c;
  text-decoration: none;
  display: inline-block;
  padding-top: 0.2em;
  padding-bottom: 0.2em;    
}
#menu-list a:hover {
  text-decoration: underline;
}

.main-content {
  padding: 0;   
  border-top: 1px solid #0f0c0d;
}

.main-content-border-control {
  border-top: none;
}

#big-menu {
  display: none;
  font-weight: lighter;
}

header{      
  color: #333;
  display: inline-block;
  position: relative;
  padding: 0 1em;
  letter-spacing: 0.1em;
  font-weight: bold;
}

main {
  color: #111111;
  margin: 0 auto;
  padding: 1em 0.5em;
  background-color: var(--main-bg-color);
}

footer {
  bottom: 0;
  background-color: #545151;
  color: #ffffff;
  font-size: 80%;
  text-align: center;
  padding: 0;
}

footer a{
  color: #FFFF00;
}
footer p{
  padding: 0;
  margin: 0;
  line-height: 150%;
}
form {
  margin-bottom:10px;
}
.hide {
  display: none;
}
.user-layout {
  display:grid;
  justify-content:left;
}
.display-layout h1 {
  display: grid;
  justify-content: left;
}
.input-layout form{
    width: 100%;
    display:grid;
    justify-content: left;
}
.group-layout {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  justify-content:left;
  /* gap: 1rem; */
}

.group-container form {
  text-align: left;
  width: 350px;
  min-height: fit-content;
  border: 1px solid #0f0c0d;
}
.context-overflow {
  width: 350px;
  overflow-wrap: anywhere;
}

@media (min-width: 992px) {
  #wrapper {
      padding: 0 0;
      font-size: 18px;
  }
  main {
      margin: 0;
  }

  .main-content {
      padding: 0 5%;
      border-top: none;
  }
  
  #small-menu {
    display: none;
  }
  #menubar {
    display: none;
  }

  #big-menu {
    display: block;
    background-color: var(--nav-bg-color);
    padding: 0;
  }

  #big-menu ul {
      list-style-type: none;
      border-top: 1px solid #eeeeee;
      display: flex;
      flex-flow: row nowrap;
      justify-content:center;
      margin: 0;
  }

  #big-menu li {
      text-align: center;
      letter-spacing: 0.1em;
      border-bottom: none;
      padding: 0;
      font-size: 18px;
  }
  #big-menu a {
      margin: 0;
      color: #0c0c0c;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
  }
  
  #big-menu li a {
      width: 150px;
      padding: 10px;
  }
  #big-menu a:hover {
      text-decoration: underline;
  }
  .display-layout h1 {
    display: grid;
    justify-content: center;
  }
  .input-layout form{
      width: 100%;
      display:grid;
      justify-content: center;
  }
  .user-layout {
    display:grid;
    justify-content:center;
  }

  .group-layout {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content:center;
    gap: 1rem;
  }
  
  .group-container form {
    text-align: center;
    width: 350px;
    min-height: fit-content;
    border: 1px solid #0f0c0d;
  }
  .context-overflow {
    width: 350px;
    overflow-wrap: anywhere;
  }
 
}