<!DOCTYPE html>
<html lang="en">
  <head>
    {# Set the `title` variable in each template that extends this one #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="/static/js/script_style.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/ico/favicon.ico') }}">
    {% block additional_js %}

    {% endblock %}
</head>
<body>
  <div id="wrapper">
    <div class="header-container">
      <header class="top-navigation">
        <div class="container">
          <img src="/static/images/skeleton.png" alt="What's On">
          <div class="header-content">
              <h1>What's On</h1>
              <p id="username">{% if session['username'] %} Welcome {{ session['username'] }} {% endif %}</p>
          </div>
          <button class="menu-button" type="button" id="menubar" onclick="menuBar()">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
        </button>
        </div>
      </header>
      <div>
        <nav>
          <div id="big-menu">
            <ul>
              <li><a href="{{ url_for('index') }}">Home</a></li>
              <li><a href="{{ url_for('events_on') }}">Events on Today</a></li>
              {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout_page') }}">Logout</a></li>
              {% else %}
                <li><a href="{{ url_for('login_page') }}">Login</a></li>
                <li><a href="{{ url_for('register_page') }}">Register</a></li>
              {% endif %}
            </ul>
          </div>
          <div id="small-menu">
            <ul id="menu-list">
              <li><a href="{{ url_for('index') }}">Home</a></li>
              <li><a href="{{ url_for('events_on') }}">Events on Today</a></li>
              {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout_page') }}">Logout</a></li>
              {% else %}
                <li><a href="{{ url_for('login_page') }}">Login</a></li>
                <li><a href="{{ url_for('register_page') }}">Register</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div id="main-content" class="main-content">
      <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <ul class="flashes">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>
  <footer>
    <p>© Copyright Yi-jung's UCD Ireland Database Assignment 2024. All Rights Reserved. Please <a href="https://www.linkedin.com/in/yijung-chen-5052a4a4/">Contact Me</a> for further queries.</p>
  </footer>
</body>
</html>
