{% extends 'base.html' %}
{% block content %}
    <h2>Create a group</h2>
    <div class="group-layout">
        <form action="{{ url_for('create_group') }}" method="POST">
            <label class="field">Name:
                <input type="text" name="group_name" required>
            </label>
            <label class="field">Description:
                <textarea type="text" name="description" required></textarea>
            </label>
            <label class="field">
                <button type="submit">Create</button>
            </label>
          </form>
    </div>


{% endblock %}
