{% set title = group.group_name %}

{% extends 'base.html' %}
{% block content %}
    <h2>Edit</h2>
    <div class="group-layout">
      <form method="POST">
        <label class="field">Name:
          <input type="text" class="readonly" name="group"  value="{{ group.group_name | default('') }}" readonly>
        </label>
        <label class="field">Description:
          <textarea type="text" maxlength="250" name="group_description"  required>{{ group.description }}</textarea>
        </label>
        <label class="field">
          <button type="submit">Update</button>
        </label>
      </form>
    </div>
{% endblock %}
