{% extends 'base.html' %}

{% block content %}
<div class="group-layout ">
    <table class="table-layout">
        <thead>
            <tr>
                <th class="table-column-td-width">Group</th>
                <th class="table-column-td-width-title">Event</th>
                <th>From</th>
                <th class="big-screen">To</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td class="table-column-td-width">{{ event.group.group_name }}</td>
                <td class="table-column-td-width-title">{{ event.title }}</td>
                <td>{{ event.date_fm.strftime('%Y-%m-%d') }}</td>
                <td class="big-screen">{{ event.date_to.strftime('%Y-%m-%d') }}</td>
                <td>
                    <a class="link_line" href="{{ url_for('view_event', event_id=event.event_id) }}">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
