{% set title = group.group_name %}
{% extends 'base.html' %}

{% block content %}
<div class="user-layout">
    {% if user.is_organizer %}
        <p>Please click <a href="{{ url_for('add_event', group_id=group.group_id) }}">here</a> to add the event!</p>
    {% endif %}
</div>

<div class="group-layout">
    <table class="table-layout">
        <thead>
            <tr>
                <th class="hidden">Editor</th>
                <th>Title</th>
                <th class="hidden">Context</th>
                <th>Location</th>
                <th>From</th>
                <th>To</th>
                <th class="hidden">Created at</th>
                <th class="table-width-buttons"></th>
            </tr>
        </thead>
        <tbody>
            {% for event in group.events %}
            <tr>
                <td class="hidden">{{ event.editor.username }}</td>
                <td>{{ event.title }}</td>
                <td class="hidden">{{ event.context }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.date_fm.strftime('%Y-%m-%d') }}</td>
                <td>{{ event.date_to.strftime('%Y-%m-%d') }}</td>
                <td class="hidden">{{ event.created_at.strftime('%Y-%m-%d') }}</td>
                <td class="table-width-buttons">
                    <a href="{{ url_for('view_event', event_id=event.event_id) }}">
                        <button>View</button>
                    </a>
                    {% if user == event.editor or user == group.create_user %}
                    <!-- Edit Button -->
                    <a href="{{ url_for('edit_event', event_id=event.event_id) }}">
                        <button>Edit</button>
                    </a>
                    <!-- Delete Button -->
                    <a href="{{ url_for('delete_event', event_id=event.event_id) }}">
                        <button>Delete</button>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
