{% extends 'base.html' %}

{% block additional_js %}
    <script src="/static/js/script_post.js"></script>
{% endblock %}

{% block content %}
  <p class="hidden" id="action">{{ action }}</p>
  {% if action == "add" %}
  <h2>Add a new event</h2>
    <div class="group-layout">
      <form id="addEventForm" action="{{ url_for('add_event', group_id=group.group_id) }}" method="POST">
        <label class="field">Group:
          <input type="text" class="readonly" name="group"  value="{{ group.group_name | default('') }}" readonly>
      </label>
        <label class="field">Title:
            <input type="text" name="title" id="title" maxlength="250" value="{{ title | default('') }}" required>
        </label>
        <label class="field">Context:
            <textarea name="context" id="context" maxlength="250" required>{{ context | default('') }}</textarea>
        </label>
        <label class="field">Location:
          <input type="text" name="location" maxlength="200" id="location" >{{ location | default('') }}
        </label>
        <p class="hidden" id="default_date">{{ default_date }}</p>
        <label class="field">From:
          <input type="date" class="date-input" name="date_from" id="date_from" value="{{ date_from | default(default_date[:10]) }}" required>
        </label>
        <label class="field">To:
          <input type="date" class="date-input" name="date_to" id="date_to" value="{{ date_to | default(default_date[:10]) }}" required>
        </label>
        <label class="field">
          <button type="submit" id="addPostButton">Add</button>
        </label>
      </form>
    </div>
  {% elif  action == "edit" %}
  <h2>Edit an event</h2>
  <div class="group-layout">
      <form id="editEventForm" action="{{ url_for('edit_event', event_id=event.event_id) }}" method="POST">
        <label class="field">Group:
          <input type="text" class="readonly" name="group"  value="{{ event.group.group_name | default('') }}" readonly>
      </label>
        <label class="field">Title:
          <input type="text" name="title" id="title" maxlength="250" value="{{ event.title | default('') }}" required>
        </label>
        <label class="field">Context:
          <textarea name="context" id="context" maxlength="250" required>{{ event.context | default('') }}</textarea>
        </label>
        <label class="field">Location:
          <input type="text" name="location" maxlength="200" id="location" >{{ location | default('') }}
        </label>
        <p class="hidden" id="edit_date_fm">{{ event.date_fm.strftime("%Y-%m-%dT%H:%M:%S") }}</p>
        <p class="hidden" id="edit_date_to">{{ event.date_to.strftime("%Y-%m-%dT%H:%M:%S") }}</p>
        <label class="field">From:
          <input type="date" class="date-input" name="date_from" id="target_date_fm" value="{{ date_from | default(default_date[:10]) }}" required>
        </label>
        <label class="field">To:
          <input type="date" class="date-input" name="date_to" id="target_date_to" value="{{ date_to | default(default_date[:10]) }}" required>
        </label>
        <button type="submit" id="editEventButton">Save</button>
      </form>
  {% else %}
  <div class="group-layout">
    <form id="viewEventForm">
      <label class="field">Group:
        <input type="text" class="readonly" name="group"  value="{{ event.group.group_name | default('') }}" readonly>
    </label>
      <label class="field">Title:
        <input type="text" class="readonly" name="title" id="title" value="{{ event.title | default('') }}" readonly>
      </label>
      <label class="field">Context:
        <textarea name="context" class="readonly" id="context" readonly>{{ event.context | default('') }}</textarea>
      </label>
      <label class="field">Location:
        <input type="text" class="readonly" name="location" id="location" value="{{ event.location | default('') }}" readonly>
      </label>
      <label class="field">From:
        <input type="date" class="readonly date-input" name="date_from" id="target_date_fm" value="{{ date_from | default(default_date[:10]) }}" readonly>
      </label>
      <label class="field">To:
        <input type="date" class="readonly date-input" name="date_to" id="target_date_to" value="{{ date_to | default(default_date[:10]) }}" readonly>
      </label>
    </form>
    <p>
      <a href="{{ url_for('event_list', group_id=event.group.group_id) }}">
        Go Back to event list
      </a>
    </p>
    <p>
      <a href="{{ url_for('events_on') }}">
        Go Back to today's event
      </a>
    </p>

  {% endif %}
</div>
{% endblock %}