{% extends 'base.html' %}

{% block content %}
<div class="group-layout">
    <table>
        <thead>
            <tr>
                <th>Group</th>
                <th>Title</th>
                <th>From</th>
                <th>To</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.group.group_name }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.date_fm.strftime('%Y-%m-%d') }}</td>
                <td>{{ event.date_to.strftime('%Y-%m-%d') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
