{% set title = group.group_name %}
{% extends 'base.html' %}

{% block content %}
<div class="user-layout">
    {% if user.is_organizer %}
        <p>Please click <a href="{{ url_for('add_event', group_id=group.group_id) }}">here</a> to add the event!</p>
    {% endif %}
</div>

<div class="group-layout">
    <table class="table-layout">
        <thead>
            <tr>
                <th colspan="4">Group: {{ group.group_name }}</th>
                <th colspan="6">Group: {{ group.group_name }}</th>
            </tr>
            <tr>
                <th class="table-column-td-width-title">Upcoming Events</th>
                <th class="table-column-td-width">Location</th>
                <th>From</th>
                <th class="big-screen">To</th>
                <th class="big-screen">Organizer</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td class="table-column-td-width-title">{{ event.title }}</td>
                <td class="table-column-td-width">{{ event.location }}</td>
                <td>{{ event.date_fm.strftime('%Y-%m-%d') }}</td>
                <td class="big-screen">{{ event.date_to.strftime('%Y-%m-%d') }}</td>
                <td class="big-screen">{{ event.editor.username }}</td>
                <td>
                    <a class="link_line" href="{{ url_for('view_event', event_id=event.event_id) }}">View</a>
                    {% if user == event.editor or user == event.group.create_user %}
                    <!-- Edit Button -->
                    <a class="link_line" href="{{ url_for('edit_event', event_id=event.event_id) }}">Edit</a>
                    <!-- Delete Button -->
                    <a class="link_line" href="{{ url_for('delete_event', event_id=event.event_id) }}">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4" >No events</td>
                <td colspan="6" >No events</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
