{% extends 'base.html' %}

{% block content %}
<div class="group-layout table-layout">
    <table>
        <thead>
            <tr>
                <th>Group</th>
                <th>Title</th>
                <th>From</th>
                <th>To</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td class="table-column-td-width">{{ event.group.group_name }}</td>
                <td class="table-column-td-width-title">{{ event.title }}</td>
                <td class="table-column-td-width-fit">{{ event.date_fm.strftime('%Y-%m-%d') }}</td>
                <td class="table-column-td-width-fit">{{ event.date_to.strftime('%Y-%m-%d') }}</td>
                <td>
                    <a href="{{ url_for('view_event', event_id=event.event_id) }}">
                        <button>View</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
