{% set title = group.group_name %}
{% extends 'base.html' %}

{% block content %}
    <p class="post-meta">By {{ group.group_name }}</p>
    <p class="post-content">{{ group.description }}</p>

    <table>
        <thead>
            <tr>
                <th>Editor</th>
                <th>Title</th>
                <th>From</th>
                <th>To</th>
            </tr>
        </thead>
        <tbody>
            {% for post in group.posts %}
            <tr>
                <td>{{ post.editor.username }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.date_fm.strftime('%Y-%m-%d') }}</td>
                <td>{{ post.date_to.strftime('%Y-%m-%d') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
