{% set title = "What's On Posts" %}
{% extends 'base.html' %}

{% block content %}
<div class="user-layout">
    {% if user.is_organizer %}
        <p>Please click <a href="{{ url_for('create_group') }}">here</a> to create your own group!</p>
    {% endif %}
</div>
<div class="group-layout">
    {% for group in groups %}
    <div class="group-container">
        <!-- <form class="group-form" action="{{ url_for('edit_group', group_id=group.group_id) }}"> -->
        <div class="group-form">
            <table>
                <tbody>
                    <tr>
                        <td class="link_forcus"><a href="{{ url_for('view_group', group_id=group.group_id) }}">{{ group.group_name }}</a></td>
                    </tr>
                    <tr>
                        <td class="context-overflow">Organizer: {{ group.create_user.username }}</td>
                    </tr>
                    <tr>
                        <td class="context-overflow">{{ group.description }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="link_line">
                            <a href="{{ url_for('event_list', group_id=group.group_id) }}">Events
                                <!-- <button class="link_button">Events</button> -->
                            </a>
                            <span> </span>
                            {% if user == group.create_user %}
                            <a href="{{ url_for('edit_group', group_id=group.group_id) }}">Edit
                                <!-- <button class="link_button">Edit</button> -->
                            </a>
                                <!-- <button  type="submit" id="editGroupButton">Edit</button> -->
                            {% endif %}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
