{% extends 'base.html' %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Editor</th>
                <th>Title</th>
                <th>From</th>
                <th>To</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.date_fm.strftime('%Y-%m-%d') }}</td>
                <td>{{ post.date_to.strftime('%Y-%m-%d') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
