{% set title = group.group_name %}
{% extends 'base.html' %}

{% block content %}
    {% if current_user.is_authenticated %}
    <p>Please click <a href="{{ url_for('add_post', group_id=group.group_id) }}">here</a> to add the post!</p>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Editor</th>
                <th>Title</th>
                <th>From</th>
                <th>To</th>
            </tr>
        </thead>
        <tbody>
            {% for post in group.posts %}
            <tr>
                <td>{{ post.editor.username }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.date_fm.strftime('%Y-%m-%d') }}</td>
                <td>{{ post.date_to.strftime('%Y-%m-%d') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
