{% set title = group.group_name %}
{% extends 'base.html' %}

{% block content %}
    {% if user.is_organizer %}
        <p>Please click <a href="{{ url_for('add_post', group_id=group.group_id) }}">here</a> to add the post!</p>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Editor</th>
                <th>Title</th>
                <th>Context</th>
                <th>From</th>
                <th>To</th>
                <td span="2"></td>
            </tr>
        </thead>
        <tbody>
            {% for post in group.posts %}
            <form action="{{ url_for('edit_post', post_id=post.post_id) }}">
                <tr>
                    <td>{{ post.editor.username }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.context }}</td>
                    <td>{{ post.date_fm.strftime('%Y-%m-%d') }}</td>
                    <td>{{ post.date_to.strftime('%Y-%m-%d') }}</td>
                    {% if user == post.editor or user == group.create_user %}
                        <td><button type="submit" id="editButton">Edit</button></td>
                        <td><button id="deleteButton">Delete</button></td>
                    {% endif %}
                </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
