{% set title = "Register" %}
{% extends 'base.html' %}

{% block content %}
<div class="input-layout">
  <div class="classic">
    <form action="{{ url_for('register_action') }}" method="POST">
      <label class="field">Username:
        <input type="text" name="username" maxlength="20" placeholder="Username" required autofocus>
      </label>
      <label class="field">Are you an organizer?
        <input type="checkbox" name="is_organizer">
      </label>
      <div class="field-button">
        <button class="form_button" type="submit">Register</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
